@import '../../setting';


.board-content{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 $gap $gap $gap;
    &::-webkit-scrollbar{
        -webkit-appearance: none;
    }    
    &::-webkit-scrollbar:horizontal{
                height: 11px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $common-element-bg;
        border-radius: 8px;
    }
    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
      }
    
    .add-new-column{
        width:250px;
        max-width: 250px;
        line-height:32px;
        padding:4px 0 4px 15px;
        margin-left:calc(#{$gap} / 2) ;
        font-size:15px;
        color:#fff;
        cursor:pointer;
        background-color:hsla(0,0%,100%,.24);
        border-radius: $column-border-radius;
        transition: .2s;
        &:hover{
        background-color:hsla(0,0%,100%,.34);

        }
    }
    .enter-new-column{
        width:250px;
        max-width: 250px;
        line-height:32px;
        padding:4px  $gap;
        margin-left:calc(#{$gap} / 2) ;
        background-color:$column-bg-color;
        border-radius: 5px;
        input.input-enter-new-column{
            margin: 5px 0;
         
        }
       
    }
   
    
}