@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');



$gap: 10px;

$board-bg-color:#0079bf;
$common-element-bg:rgba(255,255,255,.24);




$sceen-lg: 1201px;
$sceen-md: 992px;
$sceen-sm: 768px;
$sceen-phone: 480px;
$sceen-phone-down: '(max-width : 375px)';
