@import "~bootstrap/scss/bootstrap";
@import "./setting";        

*{
    margin:0;
    padding:0;

}
body{
    font-size: 14px;
    line-height: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
}



.trello-container{

    height: 100vh;
    display: grid;
    grid-template-rows: #{$navbar-appbar-height} #{$navbar-boardbar-height} 1fr;
    background-color:$board-bg-color;
    color:$app-text-main;

    .icon{
        font-size:14px;
        margin: 0 5PX;
    }
    //custom outline input button bootstrap
    //https://stackoverflow.com/questions/48483925/how-to-remove-outline-in-bootstrap-4/48484022#48484022
    textarea:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    textarea.form-control:focus, 
    [contenteditable].form-control:focus {
         box-shadow: none;
    }
    .btn:focus, .btn:active{
        outline:none;
        box-shadow: none;
    }
    .trello-content-editable{
        background-color:inherit;
        border:none;
        font-size:inherit;
        font-weight:inherit;
        cursor:pointer;
        &:focus{
            background-color: #fff;
            border:1px solid $input-border-color;
        }
    }
    
}