@import "./setting";

*{
    margin:0;
    padding:0;

}
body{
    font-size: 14px;
    line-height: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
}



.trello-container{

    height: 100vh;
    display: grid;
    grid-template-rows: #{$navbar-appbar-height} #{$navbar-boardbar-height} 1fr;
    background-color:$board-bg-color;
  
  
    

    
}